@charset "UTF-8";
body{
	margin: 0px !important;
	padding: 0px !important;
	
}

.wrapper, .main, .content{
	height: 100%;
	overflow: hidden;
}

a, link, visited{
	text-decoration: none; 	
	color: black;
}

.marker{
	border: 1px solid black;
	background: green;
	opacity: 0.8;
	width: 24px;
	height: 24px;
}
.infowindow_wrap{
	border: 1px solid black;
	background: white;
	padding: 5px;
}

#search {
	position: absolute;
	top:100px;
	left: 10px;
	padding: 15px;
	z-index: 10000;
	background: white;
	border: 1px solid black;
	border-radius: 4px;
	text-align: center;
}

#search_input{
	border: none;
}

#search_button{
	outline: no
}

.showDetail {
	padding-left: 0;
	margin-bottom: 0;
	height:100%;
	direction: ltr;
	list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F5F5F5;
}

.collapsed-1 {
	margin-right: -500px;
}
 

.libox {
	padding: 18px 25px 20px;
	min-width: 500px;
}
.dli-1 {
	font-size: 1.8rem;
}

.dli-2 {
	font-size: 1.4rem;
}