@charset "UTF-8";
body{
	margin: 0px !important;
	padding: 0px !important;
	
}

.wrapper, .main, .content{
	height: 100%;
	overflow: hidden;
}

a, link, visited{
	text-decoration: none; 	
	color: black;
}

.marker{
	border: 1px solid black;
	background: green;
	opacity: 0.8;
	width: 24px;
	height: 24px;
}
.infowindow_wrap{
	border: 1px solid black;
	background: white;
	padding: 5px;
}

#search {
	position: absolute;
	top:100px;
	left: 10px;
	padding: 15px;
	z-index: 10000;
	background: white;
	border: 1px solid black;
	border-radius: 4px;
	text-align: center;
}

#search_input{
	border: none;
}

#search_btn{
	outline: no
}

.btn_go_entry{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.collapsed-1 {
	margin-right: -390px;  
	display: none;
}


.showDetail {
	display: flex ; 
	padding-left: 0;
	margin-bottom: 0;
	min-width:390px;
	height:100%;
	/* direction: ltr;
	list-style: none; */
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F5F5F5;
}

.item_wrap {
	display: flex;
	min-width: 390px;
	flex-direction: column;
	padding: 18px 25px 20px;
	align-items: center;
}

.dli-1 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
}

.dli-2 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
}

.short_img{
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.short_img>a>img{
	flex: 1;
	margin: 0 2;
}

.create_board{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}




