@charset "UTF-8";

body{
	margin: 0px;
	padding: 0px;
}

a, link, visited{
	text-decoration: none; 	
	color: white;
}

#navbar{
	height: 50px;
	width: 100%;
	background: #262626;
	color: white;
	font-weight: bolder;
	font-size: 25px;
	display: flex;
	justify-content: space-around;
	align-content: center;
}