<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.jobtest.dao.MemberMapper">

	<insert id="MemberJoin" parameterType="member">
		insert into
			member(
				member_id
				,member_pw
				,member_phone
				,member_name
				,member_nickname
			)values(
				#{member_id}
				,#{member_pw}
				,#{member_phone}
				,#{member_name}
				,#{member_nickname}
			)
	</insert>
	
	<select id="MemberSelectOneId" parameterType="string" resultType="int">
		select
			count(*)
		from
			member
		where
			member_id = #{member_id}
	</select>
	
	<select id="MemberSelectOneNickname" parameterType="string" resultType="int">
		select
			count(*)
		from
			member
		where
			member_nickname = #{member_nickname}
	</select>
	
	<select id="MemberSelectOne" parameterType="string" resultType="member">
		select
			member_id
			,member_pw
			,member_name
			,member_phone
			,member_nickname
		from
			member
		where
			member_id = #{member_id}
	</select>
	
	<select id="MemberFind" parameterType="member" resultType="string">
		select
			member_id
		from
			member
		where
			member_name = #{member_name}
			and member_phone = #{member_phone}
	</select>
	
	<select id="PwFind" parameterType="member" resultType="string">
		select
			member_id
		from
			member
		where
			member_id = #{member_id}
			and member_phone = #{member_phone}
	</select>
	
	<update id="PwChange" parameterType="member">
		update
				member
			set
				member_pw = #{member_pw}
			where
				member_id = #{member_id}
	</update>

</mapper>