<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.jobtest.dao.WorkMapper">
	<insert id="insertWorkList" parameterType="work">
		insert into
			work(
				work_seq
				,work_title
				,work_system
				,work_board
				,work_price
				,work_indate
			)values(
				SEQ_ID.nextval
				,#{work_title}
				,#{work_system}
				,#{work_board}
				,#{work_price}
				,SYSDATE
			)
	</insert>
	
</mapper>